html{
    background-color: #dcdcdc;
}

* a{
    color: inherit;
    text-decoration: inherit;
}

body, #root{
    min-height: 100vh;
}

.App{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

/* Override the default bootstrap styles to fix #53 */
video {
    max-height: 100% !important;
    width: 100% !important;
}
